# Identifying safe loans with decision trees

The [LendingClub](https://www.lendingclub.com/) is a peer-to-peer leading company that directly connects borrowers and potential lenders/investors. In this notebook, you will build a classification model to predict whether or not a loan provided by LendingClub is likely to [default](https://en.wikipedia.org/wiki/Default_%28finance%29).

In this notebook you will use data from the LendingClub to predict whether a loan will be paid off in full or the loan will be [charged off](https://en.wikipedia.org/wiki/Charge-off) and possibly go into default. In this assignment you will:

* Use SFrames to do some feature engineering.
* Train a decision-tree on the LendingClub dataset.
* Visualize the tree.
* Predict whether a loan will default along with prediction probabilities (on a validation set).
* Train a complex tree model and compare it to simple tree model.

Let's get started!

In [77]:
import pandas as pd
import numpy as np
import math
import sklearn

# Load LendingClub dataset

We will be using a dataset from the [LendingClub](https://www.lendingclub.com/). A parsed and cleaned form of the dataset is availiable [here](https://github.com/learnml/machine-learning-specialization-private). Make sure you **download the dataset** before running the following command.

In [5]:
loans = pd.read_csv('lending-club-data.csv')

## Exploring some features

Let's quickly explore what the dataset looks like. First, let's print out the column names to see what features we have in this dataset.

In [11]:
loans.columns.tolist()

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'is_inc_v',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'not_compliant',
 'status',
 'inactive_loans',
 'bad_loans',
 'emp_length_num',
 'grade_num',
 'sub_grade_num',
 'delinq_2yrs_zero',
 'pub_rec_zero',
 'collections_12_mths_zero',
 'short_emp',
 'payment_inc_ratio',
 'final_d',
 'last_delinq_none',
 'last_record_none',
 'last_major_derog_none',
 'safe_loans']

Here, we see that we have some feature columns that have to do with grade of the loan, annual income, home ownership status, etc. Let's take a look at the distribution of loan grades in the dataset.

In [23]:
loans['grade'].value_counts()

B    37172
C    29950
A    22314
D    19175
E     8990
F     3932
G     1074
Name: grade, dtype: int64

We can see that over half of the loan grades are assigned values `B` or `C`. Each loan is assigned one of these grades, along with a more finely discretized feature called `sub_grade` (feel free to explore that feature column as well!). These values depend on the loan application and credit report, and determine the interest rate of the loan. More information can be found [here](https://www.lendingclub.com/public/rates-and-fees.action).

Now, let's look at a different feature.

In [24]:
loans['home_ownership'].value_counts()

MORTGAGE    59240
RENT        53245
OWN          9943
OTHER         179
Name: home_ownership, dtype: int64

This feature describes whether the loanee is mortaging, renting, or owns a home. We can see that a small percentage of the loanees own a home.

## Exploring the target column

The target column (label column) of the dataset that we are interested in is called `bad_loans`. In this column **1** means a risky (bad) loan **0** means a safe  loan.

In order to make this more intuitive and consistent with the lectures, we reassign the target to be:
* **+1** as a safe  loan, 
* **-1** as a risky (bad) loan. 

We put this in a new column called `safe_loans`.

In [18]:
# safe_loans =  1 => safe
# safe_loans = -1 => risky
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
#loans = loans.remove_column('bad_loans')

Now, let us explore the distribution of the column `safe_loans`. This gives us a sense of how many safe and risky loans are present in the dataset.

In [27]:
print loans['safe_loans'].value_counts()
print 99457.0/(99457+23150)

 1    99457
-1    23150
Name: safe_loans, dtype: int64
0.811185331996

You should have:
* Around 81% safe loans
* Around 19% risky loans

It looks like most of these loans are safe loans (thankfully). But this does make our problem of identifying risky loans challenging.

## Features for the classification algorithm

In this assignment, we will be using a subset of features (categorical and numeric). The features we will be using are **described in the code comments** below. If you are a finance geek, the [LendingClub](https://www.lendingclub.com/) website has a lot more details about these features.

In [28]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                   # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loans = loans[features + [target]]

What remains now is a **subset of features** and the **target** that we will use for the rest of this notebook.

In [29]:
loans

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,B,B2,0,11,RENT,27.65,credit_card,36 months,1,1,83.70,0.00,1
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.40,0.00,-1
2,C,C5,0,11,RENT,8.72,small_business,36 months,1,1,98.50,0.00,1
3,C,C1,0,11,RENT,20.00,other,36 months,0,1,21.00,16.97,1
4,A,A4,0,4,RENT,11.20,wedding,36 months,1,1,28.30,0.00,1
5,E,E1,0,10,RENT,5.35,car,36 months,1,1,87.50,0.00,1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.60,0.00,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.50,0.00,-1
8,C,C3,0,6,OWN,16.12,debt_consolidation,60 months,1,1,20.60,0.00,1
9,B,B5,0,11,OWN,10.78,debt_consolidation,36 months,1,1,67.10,0.00,1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.70,0.00,-1
11,B,B1,0,4,RENT,12.56,credit_card,36 months,1,1,43.10,0.00,1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.50,0.00,-1
13,D,D1,1,1,RENT,20.31,debt_consolidation,36 months,1,1,81.50,0.00,1
14,C,C4,0,5,RENT,18.60,home_improvement,36 months,0,1,70.20,0.00,1
15,A,A1,0,11,MORTGAGE,10.52,major_purchase,36 months,1,1,16.00,0.00,1
16,B,B3,0,2,MORTGAGE,18.44,medical,36 months,0,1,37.73,15.00,1
17,A,A1,0,7,RENT,9.86,debt_consolidation,36 months,1,1,23.10,0.00,1
18,B,B4,0,11,RENT,13.22,debt_consolidation,36 months,1,1,90.30,0.00,-1
19,B,B3,0,11,OWN,11.18,credit_card,36 months,1,1,82.40,0.00,1
20,B,B3,0,6,RENT,16.01,debt_consolidation,36 months,1,1,91.80,0.00,1
21,B,B3,0,2,RENT,2.40,major_purchase,36 months,1,1,29.70,0.00,-1
22,B,B1,0,3,MORTGAGE,29.44,credit_card,36 months,1,1,93.90,0.00,1
23,C,C2,0,10,RENT,15.22,debt_consolidation,36 months,1,1,57.60,0.00,-1
24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.50,0.00,-1
25,B,B3,0,11,MORTGAGE,5.63,debt_consolidation,36 months,0,1,37.70,0.00,1
26,B,B3,1,1,RENT,12.19,credit_card,36 months,1,1,59.10,0.00,1
27,A,A3,0,8,MORTGAGE,20.34,debt_consolidation,36 months,1,1,86.90,0.00,1
28,A,A4,0,6,MORTGAGE,14.03,debt_consolidation,36 months,1,1,27.40,0.00,1
29,A,A5,0,3,RENT,11.93,debt_consolidation,36 months,0,1,29.30,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,A,A4,0,11,RENT,13.95,credit_card,36 months,1,1,48.00,0.00,1
122578,F,F2,0,7,MORTGAGE,13.85,small_business,60 months,1,1,61.20,0.00,1
122579,B,B2,0,9,MORTGAGE,9.63,debt_consolidation,36 months,0,1,59.20,0.00,1
122580,B,B5,0,2,RENT,27.75,debt_consolidation,36 months,1,1,83.60,0.00,-1
122581,C,C5,1,1,RENT,15.60,debt_consolidation,36 months,1,1,46.70,0.00,1
122582,D,D3,0,11,MORTGAGE,15.73,credit_card,60 months,0,1,36.60,0.00,1
122583,C,C4,1,1,RENT,18.09,debt_consolidation,36 months,0,1,0.00,0.00,-1
122584,C,C3,0,4,RENT,30.28,credit_card,36 months,0,1,43.60,0.00,1
122585,D,D5,0,7,OWN,23.58,debt_consolidation,60 months,0,1,51.60,0.00,1
122586,E,E2,0,4,MORTGAGE,22.83,medical,60 months,0,1,42.10,0.00,1
122587,C,C3,0,9,MORTGAGE,11.48,debt_consolidation,60 months,1,1,64.70,0.00,-1
122588,A,A5,0,4,OWN,7.57,debt_consolidation,36 months,1,1,34.40,0.00,1
122589,C,C1,0,11,MORTGAGE,7.13,credit_card,60 months,0,1,69.80,0.00,1
122590,B,B5,1,1,OWN,19.62,small_business,36 months,1,1,68.50,0.00,-1
122591,C,C3,0,4,MORTGAGE,14.02,credit_card,60 months,1,1,71.20,0.00,1
122592,B,B3,0,11,RENT,4.02,debt_consolidation,36 months,0,0,68.60,0.00,1
122593,E,E3,0,11,MORTGAGE,11.23,home_improvement,60 months,0,0,84.30,0.00,1
122594,C,C3,1,1,OWN,26.21,credit_card,36 months,1,1,28.40,0.00,-1
122595,C,C2,0,11,MORTGAGE,7.21,credit_card,60 months,1,1,29.80,0.00,1
122596,D,D1,0,11,MORTGAGE,19.56,debt_consolidation,36 months,0,1,52.50,0.00,-1
122597,E,E5,0,11,MORTGAGE,23.90,credit_card,60 months,0,1,57.00,0.00,1
122598,A,A5,0,3,MORTGAGE,14.60,medical,36 months,1,1,82.70,0.00,1
122599,G,G2,0,11,MORTGAGE,26.27,medical,60 months,0,0,94.10,0.00,1
122600,D,D3,1,1,RENT,6.41,other,36 months,0,1,55.90,0.00,1
122601,B,B5,0,5,MORTGAGE,18.69,debt_consolidation,36 months,0,1,29.50,0.00,-1
122602,E,E5,1,0,MORTGAGE,1.50,medical,60 months,0,0,14.60,0.00,-1
122603,D,D2,0,11,MORTGAGE,11.26,debt_consolidation,36 months,0,0,15.20,0.00,1
122604,D,D3,0,6,MORTGAGE,12.28,medical,60 months,0,0,10.70,0.00,-1
122605,D,D5,0,11,MORTGAGE,18.45,debt_consolidation,60 months,1,1,46.30,0.00,-1
122606,A,A4,0,4,OWN,5.39,credit_card,36 months,0,1,21.50,0.00,1

## Sample data to balance classes

As we explored above, our data is disproportionally full of safe loans.  Let's create two datasets: one with just the safe loans (`safe_loans_raw`) and one with just the risky loans (`risky_loans_raw`).

In [59]:
safe_loans_raw = loans[loans[target] == +1]
risky_loans_raw = loans[loans[target] == -1]
print "Number of safe loans  : %s" % len(safe_loans_raw)
print "Number of risky loans : %s" % len(risky_loans_raw)

Number of safe loans  : 99457
Number of risky loans : 23150

Now, write some code to compute below the percentage of safe and risky loans in the dataset and validate these numbers against what was given using `.show` earlier in the assignment:

In [ ]:
print "Percentage of safe loans  :", 
print "Percentage of risky loans :",

One way to combat class imbalance is to undersample the larger class until the class distribution is approximately half and half. Here, we will undersample the larger class (safe loans) in order to balance out our dataset. This means we are throwing away many data points. We used `seed=1` so everyone gets the same results.

In [63]:
# Since there are fewer risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))

risky_loans = risky_loans_raw
safe_loans = safe_loans_raw.sample(frac=percentage, random_state=1)

# Append the risky_loans with the downsampled version of safe_loans
loans_data = risky_loans.append(safe_loans)

Now, let's verify that the resulting percentage of safe and risky loans are each nearly 50%.

In [64]:
print "Percentage of safe loans                 :", len(safe_loans) / float(len(loans_data))
print "Percentage of risky loans                :", len(risky_loans) / float(len(loans_data))
print "Total number of loans in our new dataset :", len(loans_data)

Percentage of safe loans                 : 0.5
Percentage of risky loans                : 0.5
Total number of loans in our new dataset : 46300

**Note:** There are many approaches for dealing with imbalanced data, including some where we modify the learning algorithm. These approaches are beyond the scope of this course, but some of them are reviewed in this [paper](http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5128907&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F69%2F5173046%2F05128907.pdf%3Farnumber%3D5128907 ). For this assignment, we use the simplest possible approach, where we subsample the overly represented class to get a more balanced dataset. In general, and especially when the data is highly imbalanced, we recommend using more advanced methods.

In [65]:
def to_hot_encoding(data,features_categorical):
    
    for cat in features_categorical:
        one_encoding = pd.get_dummies(data[cat],prefix = cat)
        data = pd.concat([data,one_encoding],axis=1)
        del data[cat]
    
    return data

In [66]:
loans_data = to_hot_encoding(loans_data, features)

In [68]:
loans_data.head(5)

,safe_loans,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A1,sub_grade_A2,...,total_rec_late_fee_125.242,total_rec_late_fee_127.788,total_rec_late_fee_130.597,total_rec_late_fee_134.94,total_rec_late_fee_141.72,total_rec_late_fee_143.093,total_rec_late_fee_165.65,total_rec_late_fee_166.43,total_rec_late_fee_194.37,total_rec_late_fee_208.82
1,-1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,-1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,-1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,-1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,-1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
train=loans_data.sample(frac=0.8,random_state=1)
validation_data=loans_data.drop(train.index)

In [90]:
train.head()

,safe_loans,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A1,sub_grade_A2,...,total_rec_late_fee_125.242,total_rec_late_fee_127.788,total_rec_late_fee_130.597,total_rec_late_fee_134.94,total_rec_late_fee_141.72,total_rec_late_fee_143.093,total_rec_late_fee_165.65,total_rec_late_fee_166.43,total_rec_late_fee_194.37,total_rec_late_fee_208.82
121355,-1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39588,-1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87529,-1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83265,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89463,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [94]:
train_X_np = train.drop('safe_loans', axis=1).as_matrix()

In [96]:
train_X_np

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [97]:
train_y_np = train['safe_loans']

In [102]:
from sklearn import tree
decision_tree_model = sklearn.tree.DecisionTreeClassifier(max_depth=6).fit(train_X_np, train_y_np)
small_model = sklearn.tree.DecisionTreeClassifier(max_depth=2).fit(train_X_np, train_y_np)

In [107]:
dotfile = open("dtree_small.dot", 'w')
tree.export_graphviz(small_model, out_file = dotfile, feature_names = train.columns)
dotfile.close()

# Making predictions

Let's consider two positive and two negative examples **from the validation set** and see what the model predicts. We will do the following:
* Predict whether or not a loan is safe.
* Predict the probability that a loan is safe.

In [109]:
validation_safe_loans = validation_data[validation_data[target] == 1]
validation_risky_loans = validation_data[validation_data[target] == -1]

sample_validation_data_risky = validation_risky_loans[0:2]
sample_validation_data_safe = validation_safe_loans[0:2]

sample_validation_data = sample_validation_data_safe.append(sample_validation_data_risky)
sample_validation_data

,safe_loans,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A1,sub_grade_A2,...,total_rec_late_fee_125.242,total_rec_late_fee_127.788,total_rec_late_fee_130.597,total_rec_late_fee_134.94,total_rec_late_fee_141.72,total_rec_late_fee_143.093,total_rec_late_fee_165.65,total_rec_late_fee_166.43,total_rec_late_fee_194.37,total_rec_late_fee_208.82
104761,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
90723,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,-1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,-1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Explore label predictions

Now, we will use our model  to predict whether or not a loan is likely to default. For each row in the **sample_validation_data**, use the **decision_tree_model** to predict whether or not the loan is classified as a **safe loan**. 

**Hint:** Be sure to use the `.predict()` method.

**Quiz Question:** What percentage of the predictions on `sample_validation_data` did `decision_tree_model` get correct?

## Explore probability predictions

For each row in the **sample_validation_data**, what is the probability (according **decision_tree_model**) of a loan being classified as **safe**? 


**Hint:** Set `output_type='probability'` to make **probability** predictions using **decision_tree_model** on `sample_validation_data`:

**Quiz Question:** Which loan has the highest probability of being classified as a **safe loan**?

**Checkpoint:** Can you verify that for all the predictions with `probability >= 0.5`, the model predicted the label **+1**?

### Tricky predictions!

Now, we will explore something pretty interesting. For each row in the **sample_validation_data**, what is the probability (according to **small_model**) of a loan being classified as **safe**?

**Hint:** Set `output_type='probability'` to make **probability** predictions using **small_model** on `sample_validation_data`:

**Quiz Question:** Notice that the probability preditions are the **exact same** for the 2nd and 3rd loans. Why would this happen?

## Visualize the prediction on a tree


Note that you should be able to look at the small tree, traverse it yourself, and visualize the prediction being made. Consider the following point in the **sample_validation_data**

In [ ]:
sample_validation_data[1]

Let's visualize the small tree here to do the traversing for this data point.

In [ ]:
small_model.show(view="Tree")

**Note:** In the tree visualization above, the values at the leaf nodes are not class predictions but scores (a slightly advanced concept that is out of the scope of this course). You can read more about this [here](https://homes.cs.washington.edu/~tqchen/pdf/BoostedTree.pdf).  If the score is $\geq$ 0, the class +1 is predicted.  Otherwise, if the score < 0, we predict class -1.


**Quiz Question:** Based on the visualized tree, what prediction would you make for this data point?

Now, let's verify your prediction by examining the prediction made using GraphLab Create.  Use the `.predict` function on `small_model`.

# Evaluating accuracy of the decision tree model

Recall that the accuracy is defined as follows:
$$
\mbox{accuracy} = \frac{\mbox{# correctly classified examples}}{\mbox{# total examples}}
$$

Let us start by evaluating the accuracy of the `small_model` and `decision_tree_model` on the training data

In [ ]:
print small_model.evaluate(train_data)['accuracy']
print decision_tree_model.evaluate(train_data)['accuracy']

**Checkpoint:** You should see that the **small_model** performs worse than the **decision_tree_model** on the training data.


Now, let us evaluate the accuracy of the **small_model** and **decision_tree_model** on the entire **validation_data**, not just the subsample considered above.

**Quiz Question:** What is the accuracy of `decision_tree_model` on the validation set, rounded to the nearest .01?

## Evaluating accuracy of a complex decision tree model

Here, we will train a large decision tree with `max_depth=10`. This will allow the learned tree to become very deep, and result in a very complex model. Recall that in lecture, we prefer simpler models with similar predictive power. This will be an example of a more complicated model which has similar predictive power, i.e. something we don't want.

In [ ]:
big_model = graphlab.decision_tree_classifier.create(train_data, validation_set=None,
                   target = target, features = features, max_depth = 10)

Now, let us evaluate **big_model** on the training set and validation set.

In [ ]:
print big_model.evaluate(train_data)['accuracy']
print big_model.evaluate(validation_data)['accuracy']

**Checkpoint:** We should see that **big_model** has even better performance on the training set than **decision_tree_model** did on the training set.

**Quiz Question:** How does the performance of **big_model** on the validation set compare to **decision_tree_model** on the validation set? Is this a sign of overfitting?

### Quantifying the cost of mistakes

Every mistake the model makes costs money. In this section, we will try and quantify the cost of each mistake made by the model.

Assume the following:

* **False negatives**: Loans that were actually safe but were predicted to be risky. This results in an oppurtunity cost of losing a loan that would have otherwise been accepted. 
* **False positives**: Loans that were actually risky but were predicted to be safe. These are much more expensive because it results in a risky loan being given. 
* **Correct predictions**: All correct predictions don't typically incur any cost.


Let's write code that can compute the cost of mistakes made by the model. Complete the following 4 steps:
1. First, let us compute the predictions made by the model.
1. Second, compute the number of false positives.
2. Third, compute the number of false negatives.
3. Finally, compute the cost of mistakes made by the model by adding up the costs of true positives and false positives.

First, let us make predictions on `validation_data` using the `decision_tree_model`:

In [ ]:
predictions = decision_tree_model.predict(validation_data)

**False positives** are predictions where the model predicts +1 but the true label is -1. Complete the following code block for the number of false positives:

**False negatives** are predictions where the model predicts -1 but the true label is +1. Complete the following code block for the number of false negatives:

**Quiz Question:** Let us assume that each mistake costs money:
* Assume a cost of \$10,000 per false negative.
* Assume a cost of \$20,000 per false positive.

What is the total cost of mistakes made by `decision_tree_model` on `validation_data`?