In [1]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [2]:
import pandas as pd
import numpy as np
import math
%matplotlib inline

In [3]:
sales_train = pd.read_csv('kc_house_train_data.csv',dtype=dtype_dict)
sales_train['bedrooms_squared'] = sales_train['bedrooms'] * sales_train['bedrooms']
sales_train['bed_bath_rooms'] = sales_train['bedrooms'] * sales_train['bathrooms']
sales_train['log_sqft_living'] = np.log(sales_train['sqft_living'])
sales_train['lat_plus_long'] = sales_train['lat'] + sales_train['long']
sales_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,0,98178,47.5112,-122.257,1340.0,5650.0,9.0,3.00,7.073270,-74.7458
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,1991,98125,47.7210,-122.319,1690.0,7639.0,9.0,6.75,7.851661,-74.5980
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,0,98028,47.7379,-122.233,2720.0,8062.0,4.0,2.00,6.646391,-74.4951
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,0,98136,47.5208,-122.393,1360.0,5000.0,16.0,12.00,7.580700,-74.8722
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,0,98074,47.6168,-122.045,1800.0,7503.0,9.0,6.00,7.426549,-74.4282

In [4]:
sales_test = pd.read_csv('kc_house_test_data.csv',dtype=dtype_dict)
sales_test['bedrooms_squared'] = sales_test['bedrooms'] * sales_test['bedrooms']
sales_test['bed_bath_rooms'] = sales_test['bedrooms'] * sales_test['bathrooms']
sales_test['log_sqft_living'] = np.log(sales_test['sqft_living'])
sales_test['lat_plus_long'] = sales_test['lat'] + sales_test['long']
sales_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,0,98028,47.7558,-122.229,1780.0,12697.0,9.0,3.0,7.265430,-74.4732
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,0,98126,47.5714,-122.375,2140.0,4000.0,16.0,12.0,7.989560,-74.8036
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,0,98002,47.3048,-122.218,1030.0,4705.0,9.0,6.0,7.444249,-74.9132
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,0,98027,47.5391,-122.070,2580.0,3980.0,9.0,7.5,7.749322,-74.5309
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,0,98117,47.6889,-122.375,1570.0,5080.0,9.0,3.0,6.993933,-74.6861

### Question 4: Mean values of the 4 new cols

In [5]:
sales_test['bedrooms_squared'].mean()

12.4466777015843

In [6]:
sales_test['bed_bath_rooms'].mean()

7.5039016315913925

In [7]:
sales_test['log_sqft_living'].mean()

7.550274679645921

In [8]:
sales_test['lat_plus_long'].mean()

-74.65333355403185

### Q5: Linear regression

#### Model 1: â€˜sqft_livingâ€™, â€˜bedroomsâ€™, â€˜bathroomsâ€™, â€˜latâ€™, and â€˜longâ€™

In [9]:
from sklearn import linear_model

In [10]:
def regression(training_data, test_data, predictor_labels, dependent_label):
    x_train = training_data[predictor_labels]
    x_test = test_data[predictor_labels]
    y_train = training_data[dependent_label]
    y_test = test_data[dependent_label]
    regr = linear_model.LinearRegression()
    model = regr.fit(X=x_train, y=y_train)
    print "Intercept: ", model.intercept_
    print "Coefficients: ", model.coef_
    print "RSS: x_train with y_train", np.mean((y_train - model.predict(x_train))**2)
    print "RSS: x_test with y_test", np.mean((y_test - model.predict(x_test))**2)

In [11]:
dependent_label = ['price']

In [12]:
model1_predictor_labels = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
regression(sales_train, sales_test, model1_predictor_labels, dependent_label)

Intercept:  [-69075726.79256982]
Coefficients:  [[  3.12258646e+02  -5.95865332e+04   1.57067421e+04   6.58619264e+05
   -3.09374351e+05]]
RSS: x_train with y_train price    5.567648e+10
dtype: float64
RSS: x_test with y_test price    5.332241e+10
dtype: float64

In [13]:
model2_predictor_labels = ['sqft_living', 'bedrooms', 'bathrooms', 'lat','long','bed_bath_rooms']
regression(sales_train, sales_test, model2_predictor_labels, dependent_label)

Intercept:  [-66867968.87107886]
Coefficients:  [[  3.06610053e+02  -1.13446368e+05  -7.14613083e+04   6.54844630e+05
   -2.94298969e+05   2.55796520e+04]]
RSS: x_train with y_train price    5.513228e+10
dtype: float64
RSS: x_test with y_test price    5.282040e+10
dtype: float64

In [14]:
model3_predictor_labels = ['sqft_living', 'bedrooms', 'bathrooms', 'lat','long', 'bed_bath_rooms', 'bedrooms_squared', 'log_sqft_living','lat_plus_long']
regression(sales_train, sales_test, model3_predictor_labels, dependent_label)

Intercept:  [-62036084.98609824]
Coefficients:  [[  5.29422820e+02   3.45142296e+04   6.70607813e+04   5.34085611e+05
   -4.06750711e+05  -8.57050439e+03  -6.78858667e+03  -5.61831484e+05
    1.27334900e+05]]
RSS: x_train with y_train price    5.196942e+10
dtype: float64
RSS: x_test with y_test price    6.129967e+10
dtype: float64